* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(54,0,25,1) 90%); */
    /*background-color: rgb(1,4,9)*/
}
.coverpage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background: url("./../img/mechatronic.jpg"); */
    /* background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    /* place-items: center; */
}
.coverpage .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 3rem;
    top: 30%;
    left: 5rem;
}
.coverpage .title div:nth-child(1) {
    font-size: 5rem;
}
.coverpage .png-programmer {
    background-color: transparent;
    position: absolute;
    right: 15%;
    top: 2rem;
}
.coverpage .background {
    position: relative;
    width: 100%;
    height: 45%;
    background-color: rgba(41, 128, 185,1.0);
}
.coverpage .slanted {
    position: relative;
    width: 100%;
    height: 0;
    border-top: 20vh solid rgba(41, 128, 185,1.0);
    border-left: 100vw solid rgba(41, 128, 185,1.0);
    border-bottom: 20vh solid transparent;
    border-right: 20vh solid transparent;
}
.meaning {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 3rem;
    font-family: 'Nunito';
    color: black;
    display: flex;
    font-size: 2rem;
    flex-direction: column-reverse;
}
.meaning div.title {
    position: absolute;
    top: 3rem;
}
.meaning div.title:nth-child(2) {
    align-self: center;
    position: absolute;
    color: rgba(41, 128, 185,1.0);
    font-weight: bold;
    font-size: 2.5rem;
}
.meaning .cards {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.meaning .cards .first-line-of-cards{
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}
.meaning .card {
    position: relative;
    width: 27%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 3s;
    margin-left: 5%;
}
.meaning .object {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blue;
}
.meaning .card .container-image {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 95%;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: .5s;
    
}
.meaning .card:hover .container-image{
    height: 150%;
}
.meaning .card:hover .area:nth-child(3) {
    transform: translate(calc((100vw * .9) * .3), 0);
}
.meaning .card:hover .area:nth-child(4) {
    transform: translate(calc(((100vw * .9) * .3) + ((100vw - 6rem) * .27 *.45) + 1rem), 0);
}
.meaning .card:hover .area:nth-child(5) {
    transform: translate(calc(((100vw * .9) * .3) + 2*((100vw - 6rem) * .27 *.45) + 1rem), 0);
}
.meaning .card:hover .area:nth-child(6) {
    transform: translate(calc((100vw * .9) * .3), 0);
}
.meaning .card:hover .area:nth-child(7) {
    transform: translate(calc(((100vw * .9) * .3) + ((100vw - 6rem) * .27 *.45) + 1rem), 0);
}
.meaning .card:hover .area:nth-child(8) {
    transform: translate(calc(((100vw * .9) * .3) + 2*((100vw - 6rem) * .27 *.45) + 1rem), 0);
}
.meaning .card .body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .8rem rgba(0, 0, 0, .8);
}
.meaning .card .body .info {
    width: 90%;
    height: 60%;
    position: absolute;
    bottom: 0;
}
.meaning .card .body .info span{
    color: black;
    font-size: 1.6rem;
}
.meaning .card .body .info .question{
    font-weight: bold;
}
.meaning .card .body .info .answer{
    font-weight: 400;
}
.meaning .card .image {
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: calc(((100vh - 6rem) * .9) * .4 * .9) ;
    z-index: 1;
    overflow: hidden;
    background: url("../img/code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.meaning .card:nth-child(2) .image {
    background: url("../img/programmer\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.meaning .card:nth-child(3) .image {
    background: url("../img/howtoprogram.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.meaning .first-line-of-cards:nth-child(2) .card:nth-child(1) .image {
    background: url("../img/enterprise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}
.meaning .first-line-of-cards:nth-child(2) .card:nth-child(1) {
    height: 130%;
}
.meaning .first-line-of-cards:nth-child(2) .card:nth-child(1) .image {
    height: calc(((100vh - 6rem) * .9) * .4 * 1.2) ;
}
.meaning .cards .area {
    transition: .5s;
    position: absolute;
    z-index: 0;
    width: 45%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.meaning .cards .container-first-areas {
    background-color: red;
    position: absolute;
    top: 2rem;
    min-width: 90%;
    height: 45%;
    display: flex;
    flex-direction: row;
    overflow: visible;
}
.meaning .cards .div-first-areas {
    background-color: orange;
    position: absolute;
    width: 100%;
    height: 100%;
}

.meaning .cards .area.first-areas {
    top: 2rem;
}
.meaning .cards .area.second-areas {
    bottom: 2rem;
}
.meaning .cards .area .logo-of-area {
    width: 100%;
    height: 80%; 
}
.meaning .cards .area .logo-of-area.web {
    background: url("../img/web.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.meaning .cards .area .logo-of-area.movil {
    background: url("../img/movil.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.meaning .cards .area .logo-of-area.secure {
    background: url("../img/secure.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.meaning .cards .area .logo-of-area.desktop {
    background: url("../img/desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.meaning .cards .area .logo-of-area.database {
    background: url("../img/database.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.meaning .cards .area .logo-of-area.cloud {
    background: url("../img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.meaning .cards .area .name-of-area {
    width: 100%;
    min-height: 20%;
    max-height: 1000px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
